
<div class="content">
    <h1>@ViewBag.Trail.Name</h1>
    <h3>Description:</h3>
    <p>@ViewBag.Trail.Description</p>
    <h3>Trail Length:</h3>
    <h5>@ViewBag.Trail.Distance miles</h5>
    <h3>Elevation Change:</h3>
    <h5>@ViewBag.Trail.Elevation feet</h5>    
</div>
<div class="map">
    <a href="/">All Trails</a>
    <img src="~/images/map.jpg" alt="map">
    <p>@ViewBag.Trail.Longitude</p>
    <p>@ViewBag.Trail.Latitude</p>
</div>

